body{
    background-color: #b4959049;
    /* background-image: url("https://wallpaperaccess.com/full/768855.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
a, a:hover{
    text-decoration: none;
}
ul, li{
    display: inline-block;
    list-style: none;
    justify-content: center;
}
.header{
    border-bottom: 1px solid darkgray;
}
.header h1{
    font-family:'Courier New', Courier, monospace;
    color: #588b44f6;
    text-align: center;
    font-size: 400%;
}
.team{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.card{
    position: relative;
    overflow: hidden;
    padding: 15px;
    margin: 15px;
    width: 480px;
    height: 580px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: #fff;
    background-color: #fff;
}
/* .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform calc(700ms*1.5) cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
} */
.team .card:nth-child(1){
    background-image: url(images/boy.jpg);
    background-size: 100% 92%;
    background-repeat: no-repeat;
}
.team .card:nth-child(2){
    background-image: url(images/bi.jpg);
    background-size: 100% 92%;
    background-repeat: no-repeat;
}
/* .card::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
} */
.content h1{
    font-family:'Courier New', Courier, monospace;
    color: #111;
    text-align: center;
    font-size: 200%;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    margin-bottom: -120px;
    z-index: 1;
    /* transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1); */
    transition: all 0.5s;
}
.team .social{
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    display: flex;
    transition: all 0.5s;
    align-self: center;
    /* margin-bottom: -300px; */
}
.social a{
    font-size: 25px;
    color: #000;
    transition: all 0.5s;
    padding-inline: 10px;
}
.social i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: #b69b90;
    transition: all 0.3s;
}
.social li:hover i{
    color:#000;
    transform: translateY(-8px);
}
.card:hover .content .social{
    transform: translateY(-150px);
}


@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


.members{
    justify-items: center;
}
.member{
    margin: 100px;
    /* display: flex; */
    /* justify-items: center; */
}
.card2 {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    margin: 10px
}
.card2 h2 {
    margin: 0;
    padding: 0 1rem;
}
.card2 .title {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 20px;
}
.card2 .desc {
    padding: 0.5rem 1rem;
    font-size: 15px;
}


.img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-size: cover;
    top: 8%;
    left: 27%;
}
.members .member:nth-child(1) .img-avatar{
    background-image: url(images/back.jpg);
}

.members .member:nth-child(2) .img-avatar{
    background-image: url(images/back2.jpg);
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-position: top center;
    background-size: cover ;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    color: #000;
    background-color: #fff;
}
.portada h2{
    font-family:'Courier New', Courier, monospace;
    color: #111;
    text-align: center;
    font-size: 200%;
    margin-top: 500px;
}
.members .social{
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    display: flex;
    transition: all 0.5s;
    align-self: center;
    margin-bottom: -300px;
}
.members .member:nth-child(1) .portada{
    background-image: url(images/front.jpg);    
}

.members .member:nth-child(2) .portada{
    background-image: url(images/front2.jpg);  

}

.members ol{
    display:grid;
}


td{
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 50px;
    padding: 5px;

}

table {
    width: 60%;
    background-color: #f1f1c1;
}

table tr:nth-child(even) {
    background-color: #b4959049;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    color: black;
    background-color: #fff;
}